celery==5.3.6
redis==5.0.1
SQLAlchemy==2.0.25
neo4j==5.17.0
pydantic==2.5.3
python-dotenv==1.0.0
numpy
scipy
fastdtw
scikit-learn
xgboost
spacy
sentence-transformers
networkx
Pillow
fastapi
uvicorn
requests
shodan
vt-py
beautifulsoup4
